/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    min-height: 100vh;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.fade-in {
    animation: fadeIn 2s ease 0s 1 normal forwards;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 20px;
    
}

header .logo img {
    height: 50px;
}

header .title {
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #101010;
    border-radius: 10px;
    min-height: 50px;
    width: 300px;
    flex-direction: column;
    overflow: hidden;
}

header .title span{
    margin-left: 10px;
    text-transform: capitalize;
    color: goldenrod;
}

header .title h1 {
    margin: 0;
    font-size: 24px;
    margin-left: 10px;
    text-transform: capitalize;
}

header .bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: transparent;
    width: 100%;
}


header .progress-truck {
    width: 98%;
    height: 10px;
    background-color: #777;
    position: relative;
    cursor: pointer;
    
}



/* Change background color of the progress bar and make it fully rounded on hover */
header .progress-truck:hover .progress-bar {
    background-color: #0056b3; /* Darker shade for hover effect */
    border-radius: 0 10px 10px 0; /* Fully rounded corners on the right */
}

header .progress-truck:hover .progress-bar {
    border-top-right-radius: 30px; /* Adjust the value as needed */
    border-bottom-right-radius: 30px; /* Adjust the value as needed */
}


header .progress-bar {
    width: 0;
    height: 100%;
    background-color: #ff5722;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar {
    border-top-right-radius: 10px; /* Adjust the value as needed */
    border-bottom-right-radius: 10px; /* Adjust the value as needed */
}



/* Container Styles */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 120px 20px 20px; /* Adjusted padding to account for fixed header */
    margin-top: 30px;
    background-image: url('logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 100vh; /* Set a maximum height */
    overflow: hidden; /* Disable manual scrolling */
    position: relative; /* Ensure it can be scrolled programmatically */
}

main .container:nth-of-type(2) {
    display: none;
    height: 80vh;
}


.Welcome-message{
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex; /* Use flexbox to create two sides */
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #333;
    transition: transform 0.3s;
}

.friend, .friends {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 100%;
    min-height: 80vh;
    overflow-y: auto;
    display: flex; /* Use flexbox to create two sides */
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #fff; /* Change to white for visibility over black overlay */
    position: relative; /* Make sure the friend container is the reference for ::before */
    overflow: hidden; /* Prevents ::before from overflowing */
    transition: transform 0.3s;
}

.friends{
    height: 70vh;
}

.friend::before, .friends::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
    z-index: 0; /* Place the overlay behind the content */
}

.friend-left,
.friend-right {
    position: relative; /* Ensure text and images stay above the overlay */
    z-index: 1; /* Keep content above the overlay */
}

.friends-left,
.friends-right {
    position: relative; /* Ensure text and images stay above the overlay */
    z-index: 1; /* Keep content above the overlay */
}


.intro-div {
    position: relative;
    background-image: url('logo.jpg'); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the div */
    background-position: center; /* Center the background image */
    width: 100%;
    height: 100%; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white; /* Ensure text is visible over the overlay */
    z-index: 1; /* Ensure the text appears on top of the ::before overlay */
}

.intro-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
    z-index: -1; /* Place the overlay behind the content */
}

.intro-div p {
    font-size: 20px;
    background-color: #ddd;
    color: #101010;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.intro-div p:hover{
    background-color: #101010;
    color: #f0f0f0;
}

/* Left side (image) */
.friend-left, .friends-left {
    flex: 1;
    width: 40%; /* Set max width for image */
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.friend-left img,.friends-left img {
    width: 100%; /* Image takes up full width of left side */
    height: 100%;
    border-radius: 10px; /* Make image circular */
    object-fit: cover; /* Ensure the image fits well */
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

/* Right side (name and description) */
.friend-right, .friends-right {
    flex: 2; /* Right side takes up more space */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 10px;
    
    color: #f0f0f0;
}

.friend-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f0f0f0; /* You can adjust the color as needed */
    background-color: transparent;
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.friend-name .time-indicator {
    color: #daa520;
    padding: 5px;
    border-radius: 5px;
    display: block; /* Hidden initially */
}

.friend-description {
    font-size: 16px;
    color: #f0f0f0;
    background-color: transparent;
    padding-left: 5px;
    height: 80%;
    border-bottom: 1px solid #f0f0f0;
    overflow-y: auto;
    display: flex;
   /* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
   scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none; /* IE 10+ */
   flex-direction:column;
   align-items: center;
   justify-content: center;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.friend-description::-webkit-scrollbar {
   display: none;
}

.friend-description p {
    text-align: center; /* Default alignment for small screens */
    font-size: 24px;
}

.friend .friend-right .controls span.translating {
    background-color: #007bff;
    color: #f0f0f0;
    animation: myAnim 1s ease 0s 1 normal forwards;
}


.friend .friend-right .controls,
.friends .friends-right .controls-buttons{
    background-color: transparent;
    width: 98%;
    height: auto;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-top: 5px;
}

.friend .friend-right .controls span,
.friends .friends-right .controls-buttons button{
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #101010;
}

.friend .friend-right .controls span:hover,
.friends .friends-right .controls-buttons button:hover{
    background-color: #007bff;
    color: #f0f0f0;
}

.friend .friend-right .controls span.translating {
    background-color: #007bff;
    color: #f0f0f0;
}

.friend .friend-right .controls span.muted {
    background-color: #FF0000;
    color: #f0f0f0;
}

.friends .friends-right .controls-buttons button:nth-child(2) {
    opacity: 0;
    pointer-events: none;
}

/* Container for the notification */
#notification-container {
    position: fixed;
    top: 100px; /* Initially hidden above the viewport */
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    display: none;
    z-index: 9999;
    transition: top 0.5s ease, opacity 0.5s ease;
    width: 40%;
}

/* General overlay styles */
#audio-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Above all other content */
    transition: opacity 0.3s ease; /* Smooth transition */
}

/* Overlay content styles */
.overlay-content {
    width: 80%;
    height: 80vh;
    text-align: center;
    padding: 20px;
    background: transparent; /* Slightly darker background for contrast */
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: auto;
    animation: myAnim 1s ease 0s 1 normal forwards;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Soft shadow for depth */
}

/* Heading styles */
.overlay-content h2 {
    font-size: 2rem; /* Large heading */
    margin-bottom: 35px; /* Space below heading */
}

/* Image styles */
.overlay-content .img-div {
    width: 60%; /* Control the size of the logo */
    height: 40vh; /* Keep aspect ratio */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    border-radius: 10px;
    overflow: hidden;
}

.overlay-content .img-div img{
    width: 100%;
    height: 100%;
}

/* Button styles */
.overlay-content button {
    padding: 10px 20px; /* Button padding */
    font-size: 1.2rem; /* Button text size */
    color: white; /* Text color */
    background-color: #007bff; /* Primary button color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Button hover effect */
.overlay-content button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Responsive styles */
@media (max-width: 800px) {
    
    .overlay-content h2 {
        font-size: 1.5rem; /* Smaller heading on small screens */
    }

    .overlay-content button {
        font-size: 1rem; /* Smaller button text */
        padding: 8px 16px; /* Smaller button padding */
        width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .overlay-content .img-div {
        width: 80%; /* Control the size of the logo */
        height: 40vh; /
}

}


/* General overlay styling */
.question-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it is on top */
    visibility: hidden; /* Hidden by default */
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.question-overlay.visible {
    visibility: visible;
    opacity: 1;
}

/* Content box styling */
.question-content {
    background-color: #fff; /* White background */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 60%;
    height: 50vh;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.question-content h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333;
}

.question-content p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
}

/* Button styles */
.controls-actions button {
    background-color: #007BFF; /* Primary button color */
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls-actions button:hover {
    background-color: #0056b3; /* Darker on hover */
}

.controls-actions button:last-child {
    background-color: #6c757d; /* Gray color for 'No thanks' */
}

.controls-actions button:last-child:hover {
    background-color: #5a6268; /* Darker gray on hover */
}


.fullscreenoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.full-screen-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.full-screen-close span:hover {
    color: red;
}

.full-screen-content {
    position: relative; /* This ensures the overlay is positioned relative to this container */
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('logo.jpg'); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    flex-direction: column;
    font-size: 40px;
    text-align: center;
    animation: myAnim 1s ease 0s 1 normal forwards;
    
}



/* The black overlay */
.full-screen-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity to your liking */
    border-radius: 10px; /* Match the border-radius of the content container */
    z-index: 1; /* Make sure the overlay is above the background but below the content */
}

.full-screen-content > * {
    position: relative;
    z-index: 2; /* This ensures the actual content is above the overlay */
    color: white; /* Change the text color to make it readable */
}



/****************************************************************************************************************************/

/* Media Queries for Small Screens */
@media (max-width: 800px) {
    header .top {
        flex-direction: row;
        align-items: center;
    }

    header .title {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    header .bottom {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    header .progress-truck {
        width: 90%;
        height: 5px;
        background-color: #777;
        position: relative;
        cursor: pointer;
        
    }

    .container {
        padding: 50px 0px 0px; /* Adjust padding for smaller screens */
        margin-top: 10px;
        width: 100%;
    }

    .friend, .friends {
        flex-direction: column;
        min-height: 80vh;
        width: 100%;
       	padding: 5px;
    }

    .friends {
        flex-direction: column;
        min-height: 40vh;
        width: 95%;
        overflow-y: auto;
    }

    .Welcome-message {
        flex-direction: column;
        height: 100vh;
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

    .friend .controls span, .friends .controls-buttons button {
        margin-top: 5px;
    }
    .friend-description {
        font-size: 16px;
        color: #f0f0f0;
        background-color: transparent;
        padding: 5px;
        height: 60%;
        border-bottom: 1px solid #f0f0f0;
        overflow-y: auto;
    
        /* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
    }
    
    /* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
    .friend-description::-webkit-scrollbar {
        display: none;
    }
    
    .friend-description p {
        text-align: left; /* Default alignment for small screens */
        font-size: 16px;
    }

    .friend-description h2{
        font-size: 16px;
    }

    /* Left side (image) */
    .friend-left, .friends-left {
        
        width: 100%; /* Set max width for image */
        background-color: transparent;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
    }

    .friend-name {
        font-size: 16px;
        font-weight: bold;
        margin: 5px;
        text-align: center;
        padding: 5px 10px;
    }
    
    .friend-name .time-indicator {
        color: #daa520;
        padding: 5px;
        border-radius: 5px;
        display: block; /* Hidden initially */
    }
}


@media (max-width: 800px) {
    /* General overlay styling */
    .question-overlay {
        padding: 0 1rem; /* Add some padding to ensure content is not flush with the edge */
    }

    /* Content box styling */
    .question-content {
        width: 70%; /* Reduce width for smaller screens */
        height: 40vh; /* Adjust height to be dynamic based on content */
       
        border-radius: 6px; /* Slightly reduce border-radius */
        overflow-y: auto;
    }

    .question-content h2 {
        font-size: 20px; /* Reduce font size for h2 */
    }

    .question-content p {
        font-size: 16px; /* Reduce font size for paragraph */
        margin-bottom: 1.5rem; /* Slightly reduce bottom margin */
    }

    /* Button styles */
    .controls-actions button {
        padding: 0.5rem 1rem; /* Reduce padding on buttons */
        font-size: 0.9rem; /* Reduce font size for buttons */
        margin: 5px; /* Reduce spacing between buttons */
        
    }
}

/* Small screen adjustments */
@media (max-width: 800px) {
    .full-screen-content {
        position: relative; /* This ensures the overlay is positioned relative to this container */
        border-radius: 10px;
        padding: 20px;
        width: 80%;
        height: 80%;

        font-size: 20px;
        text-align: center;
        
    }

    .full-screen-close {
        font-size: 28px; /* Reduce close button size */
        top: 10px;
        right: 10px;
        font-weight: bolder;
    }
}




